@charset "UTF-8";

@import 'base/variables';

@import 'base/functions/shade';

@import 'base/mixins/breakpoint';
@import 'base/mixins/clearfix';
@import 'base/mixins/flexbox';
@import 'base/mixins/position';
@import 'base/mixins/size';
@import 'base/mixins/assign-inputs';

@import 'base/base';
@import 'base/typography';
@import 'base/helpers';

@import 'layout/page-layout';
@import 'layout/page-header';
@import 'layout/page-content';
@import 'layout/page-footer';

@import 'modules/forms';
@import 'modules/buttons';
@import 'modules/video';
@import 'modules/ribbon';
@import 'modules/widget';
@import 'modules/number-slider';
@import 'modules/select-slider';
@import 'modules/datepicker';
@import 'modules/mask';
@import 'modules/modal';
@import 'modules/timer-icon';
@import 'modules/messages';

// @import 'modules/panel';
// @import 'modules/panel-hero';
// @import 'modules/panel-display';
@import 'modules/panel-progress';
@import 'modules/panel-overlay';
@import 'modules/session';

.header_sign-up {
  display: none;
  position: absolute;
  top: 6px;
  right: 24px;

  @include breakpoint(medium) {
    display: block;
  }
}

.hero-image {
  width: 100%;
  height: 320px;
  background: gray url('/images/unused/nurse-running.jpg') no-repeat 80% 50%;
  background-size: cover;

  @include breakpoint(medium) {
    height: 480px;
  }

  @include breakpoint(large) {
    height: 640px;
  }
}

.content-section {
  &--grey {
    background-color: $vlight-gray;
  }

  &--blue {
    color: $white;
    background-color: $brand-secondary;

    * {
      color: $white;
    }
  }

  &--green {
    color: $white;
    background-color: $brand-primary;

    * {
      color: $white;
    }
  }

  .wrapper {
    width: 100%;
    max-width: 768px;
    padding: 48px 24px;
    margin: 0 auto;
  }

  article {
    max-width: 500px;
    margin: 0 auto;
  }
}

.button.button--grey {
  color: $dark-gray !important;
  background-color: $vlight-gray;
  border-bottom: 4px solid $mid-gray;

  &:hover,
  &:focus,
  &:active {
    background-color: shade($vlight-gray, 10%);
  }
}
