@charset "UTF-8";

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  appearance: none;
  background-color: $brand-primary;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: $base-font-weight;
  line-height: 18px;
  padding: $small-spacing $small-spacing / 2;
  margin: $small-spacing 0;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  border-bottom: 4px solid shade($brand-primary, 30%);
  width: 224px;
  height: 48px;

  &:hover,
  &:focus {
    background-color: shade($brand-primary, 20%);
    color: #fff;
    text-decoration: none;
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    background-color: $vlight-gray;
    color: $light-gray !important;
    border-bottom: 4px solid $light-gray;

    &:hover,
    &:focus {
      background-color: $vlight-gray;
    }
  }

  &.secondary {
    background-color: $light-gray;
    color: $dark-gray !important;
    border-bottom: 4px solid  shade($light-gray, 20%);

    &:hover,
    &:focus {
      background-color: shade($light-gray, 10%);
    }
  }

  &.tertiary {
    background-color: $pale-blue;
    border-bottom-color: $blue;
    color: $blue !important;

    &:hover,
    &:focus {
      background-color: shade($pale-blue, 10%)
    }
  }

  &.warning {
    background-color: $red;
    color: $white !important;
    border-bottom: 4px solid  shade($red, 20%);

    &:hover,
    &:focus {
      background-color: shade($red, 10%);
    }
  }

  &.button--next {
    position: relative;
    text-align: left;
    padding-left: $base-spacing;

    &::after {
      @include position-button-arrow('right');
    }
  }

  &.button--back {
    position: relative;
    text-align: right;
    padding-right: $base-spacing;

    &::before {
      @include position-button-arrow('left');
    }

  }

  &.button--fast-forward {
    position: relative;
    padding: $small-spacing $base-spacing;
    text-align: left;
    width: 100%;
    background-color: $pale-blue;
    border-bottom-color: $blue;
    color: $blue !important;

    &:hover,
    &:active {
      background-color: shade($pale-blue, 10%)
    }

    &::after {
      @include position-button-arrow('right');
    }
  }
}

button.button--skip {
  display: inline-block;
  width: auto;
  background-color: transparent;
  text-align: left;
  border: none;
  padding: 0 !important;
  color: $action-color !important;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%) !important;
    text-decoration: underline;
  }

  &::after {
    // position: relative;
    display: inline-block;
    content: '\203a';
    font-size: 48px;
    font-weight: 100;
    margin-left: 12px;
    margin-top: -12px;
    vertical-align: middle;

  }
}

.button-wrapper {
  @include flexbox($justify-content: space-between);
  margin: $small-spacing 0;

  &.centred {
    @include flexbox($justify-content: space-around);
  }
}
