.panel--dashboard {
  header {
    position: relative;
    background-color: $brand-secondary;
    height: 160px;
    padding-top: 54px;

    @include breakpoint(medium) {
      padding-top: 48px;
      height: 200px;
      padding-top: 68px
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 160px;
      width: 30%;
      background-image: url('/images/clock-icon.svg');
      background-repeat: no-repeat;
      background-position: 0% 50%;
      background-size: 240px;

      @include breakpoint(medium) {
        height: 200px;
        width: 200px;
        background-position: 0% 50%;
        background-size: 300px;
    }
    }

    h1 {
      color: $white;
      padding: 0 $base-spacing $base-spacing * 1.5;
      margin: 0;
    }
  }

  nav.tab-nav {
    @include clearfix();
    margin-top: 48px;

    ul {
      margin: 0 24px;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 9px 0;
        border: 1px solid $brand-secondary;
        border-bottom: none;
        text-align: center;
        color:$brand-secondary;
        font-size: 20px;

        &:first-child {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child {
          border-bottom: 1px solid $brand-secondary;
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
        }

        @include breakpoint(medium) {
          float: left;
          width: 33%;
          border: 1px solid $brand-secondary;
          border-right: none;

          &:first-child {
            border-top-left-radius: $base-border-radius;
            border-top-right-radius: 0;
            border-bottom-left-radius: $base-border-radius;
          }

          &:last-child {
            border-right: 1px solid $brand-secondary;
            border-top-right-radius: $base-border-radius;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: $base-border-radius;
          }
        }

        &::after {
          content: none;
        }

        &.selected {
          color: $white;
          background-color: $brand-secondary;
        }
      }
    }
  }

  article {
    width: 100%;
    max-width: 520px;
    padding: $base-spacing $base-spacing 40px;
    margin: 0 auto;
  }

  ol.questionnaires-progress {
    @include clearfix();
    margin: 12px 0 40px;
    padding: 0;

    li {
      float: left;
      width: 13.9%;
      margin-right: 1px;
      padding: 9px 0;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      background-color: $vlight-gray;

      &::before, &::after {
        content: none;
      }

      &:first-child {
        border-top-left-radius: $base-border-radius;
        border-bottom-left-radius: $base-border-radius;
      }

      &:last-child {
        border-top-right-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
      }

      &.in-progress {
        color: $brand-secondary;
        background-color: $pale-blue;
      }

      &.completed {
        color: $white;
        background-color: $brand-primary;
      }
    }
  }

  .subsection {
    margin: 12px 0;
    padding: 12px 0;
    border-bottom: 1px solid $light-gray;

    &:first-child {
      margin-top: 48px;
    }
  }

  .subsection_icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: url(/images/section-icon-blank.svg) no-repeat 0 0;
    background-size: cover;

    @include breakpoint(medium) {
      margin: 6px 0 0;
      float: left;
    }
  }

  .subsection_content {
    margin: 12px 0 0;

    h2, p {
      text-align: center;
    }

    @include breakpoint(medium) {
      margin: 0 0 0 124px;

      h2, p {
        text-align: left;
      }
    }
  }
}


