.panel--dashboard {
  header {
    position: relative;
    background-color: $brand-secondary;
    height: 160px;
    padding-top: 54px;

    @include breakpoint(medium) {
      padding-top: 48px;
      height: 200px;
      padding-top: 68px
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 160px;
      width: 30%;
      background-image: url('/images/clock-icon.svg');
      background-repeat: no-repeat;
      background-position: 0% 50%;
      background-size: 240px;

      @include breakpoint(medium) {
        height: 200px;
        width: 200px;
        background-position: 0% 50%;
        background-size: 300px;
    }
    }

    h1 {
      color: $white;
      padding: 0 $base-spacing $base-spacing * 1.5;
      margin: 0;
    }
  }

  nav.tab-nav {
    @include clearfix();
    margin-top: 48px;

    ul {
      margin: 0 24px;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 9px 0;
        border: 1px solid $brand-secondary;
        border-bottom: none;
        text-align: center;
        color:$brand-secondary;
        font-size: 20px;

        &:first-child {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child {
          border-bottom: 1px solid $brand-secondary;
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
        }

        @include breakpoint(medium) {
          float: left;
          width: 33%;
          border: 1px solid $brand-secondary;
          border-right: none;

          &:first-child {
            border-top-left-radius: $base-border-radius;
            border-top-right-radius: 0;
            border-bottom-left-radius: $base-border-radius;
          }

          &:last-child {
            border-right: 1px solid $brand-secondary;
            border-top-right-radius: $base-border-radius;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: $base-border-radius;
          }
        }

        &::after {
          content: none;
        }

        &.selected {
          color: $white;
          background-color: $brand-secondary;
        }
      }
    }
  }

  article {
    width: 100%;
    max-width: 520px;
    padding: $base-spacing $base-spacing 40px;
    margin: 0 auto;
  }

  ol.progress-bar {
    @include clearfix();
    margin: 12px 0 40px;
    padding: 0;

    li {
      float: left;
      // width: 13.9%;
      margin-right: 1px;
      padding: 9px 0;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      background-color: $vlight-gray;

      &::before, &::after {
        content: none;
      }

      &:first-child {
        border-top-left-radius: $base-border-radius;
        border-bottom-left-radius: $base-border-radius;
      }

      &:last-child {
        border-top-right-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
      }

      &.is-paused {
        color: $brand-secondary;
        background-color: $pale-blue;
      }

      &.is-inprogress {
        color: $brand-secondary;
        background-color: $pale-blue;
      }

      &.is-completed {
        color: $white;
        background-color: $brand-primary;
      }
    }

    &.progress-bar--questionnaires li {
      width: 13.9%;
    }

    &.progress-bar--cognitive-tests li {
      width: 32.9%;
    }
  }

  .subsection {
    margin: 12px 0;
    padding: 12px 0;
    border-bottom: 1px solid $light-gray;

    &:first-child {
      margin-top: 48px;
    }

    .subsection_icon {
      width: 100px;
      min-height: 100px;
      margin: 0 auto;
      color: $white;
      font-size: 60px;
      font-weight: 700;
      text-align: center;
      padding-top: 32px;
      background: url('/images/blank-icon.svg') no-repeat 0 0;
      background-size: 100px;

      @include breakpoint(medium) {
        margin: 6px 0 0;
        float: left;
      }

      img.mini-progress {
        position: relative;
        top: 70px;
      }
    }
  }

  .subsection--medical {
    .subsection_icon {
      background-image: url('/images/medical-icon.svg');
    }

    &.is-inprogress {
      .subsection_icon {
        background-image: url('/images/medical-inprogress-icon.svg');
      }
    }

    &.is-paused {
      .subsection_icon {
        background-image: url('/images/medical-paused-icon.svg');
      }
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/medical-completed-icon.svg');
      }
    }
  }

  .subsection--health {
    .subsection_icon {
      background-image: url('/images/health-icon.svg');
    }

    &.is-inprogress {
      .subsection_icon {
        background-image: url('/images/health-inprogress-icon.svg');
      }
    }

    &.is-paused {
      .subsection_icon {
        background-image: url('/images/health-paused-icon.svg');
      }
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/health-completed-icon.svg');
      }
    }
  }

  .subsection--lifestyle {
    .subsection_icon {
      background-image: url('/images/lifestyle-icon.svg');
    }

    &.is-inprogress {
      .subsection_icon {
        background-image: url('/images/lifestyle-inprogress-icon.svg');
      }
    }

    &.is-paused {
      .subsection_icon {
        background-image: url('/images/lifestyle-paused-icon.svg');
      }
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/lifestyle-completed-icon.svg');
      }
    }
  }

  .subsection--digital-span {
    .subsection_icon {
      background-image: url('/images/digital-span-icon.svg');
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/digital-span-completed-icon.svg');
      }
    }
  }

  .subsection--paired-associates {
    .subsection_icon {
      background-image: url('/images/paired-associates-icon.svg');
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/paired-associates-completed-icon.svg');
      }
    }
  }

  .subsection--self-ordered-search {
    .subsection_icon {
      background-image: url('/images/self-ordered-search-icon.svg');
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/self-ordered-search-completed-icon.svg');
      }
    }
  }

  .subsection--verbal-reasoning {
    .subsection_icon {
      background-image: url('/images/verbal-reasoning-icon.svg');
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/verbal-reasoning-completed-icon.svg');
      }
    }
  }

  .subsection--balloons {
    .subsection_icon {
      background-image: url('/images/balloons-icon.svg');
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/balloons-completed-icon.svg');
      }
    }
  }

  .subsection--crates {
    .subsection_icon {
      background-image: url('/images/crates-icon.svg');
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/crates-completed-icon.svg');
      }
    }
  }

  .subsection--loop-the-loop {
    .subsection_icon {
      background-image: url('/images/loop-the-loop-icon.svg');
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/loop-the-loop-completed-icon.svg');
      }
    }
  }

  .subsection--numbers {
    .subsection_icon {
      background-image: url('/images/numbers-icon.svg');
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/numbers-completed-icon.svg');
      }
    }
  }

  .subsection--object-matching {
    .subsection_icon {
      background-image: url('/images/object-matching-icon.svg');
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/object-matching-completed-icon.svg');
      }
    }
  }

  .subsection--odd-one-out {
    .subsection_icon {
      background-image: url('/images/odd-one-out-icon.svg');
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/odd-one-out-completed-icon.svg');
      }
    }
  }

  .subsection--pairs {
    .subsection_icon {
      background-image: url('/images/pairs-icon.svg');
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/pairs-completed-icon.svg');
      }
    }
  }

  .subsection--pictures {
    .subsection_icon {
      background-image: url('/images/pictures-icon.svg');
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/pictures-completed-icon.svg');
      }
    }
  }

  .subsection--scanner {
    .subsection_icon {
      background-image: url('/images/scanner-icon.svg');
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/scanner-completed-icon.svg');
      }
    }
  }

  .subsection--see-saw {
    .subsection_icon {
      background-image: url('/images/see-saw-icon.svg');
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/see-saw-completed-icon.svg');
      }
    }
  }

  .subsection--sliders {
    .subsection_icon {
      background-image: url('/images/sliders-icon.svg');
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/sliders-completed-icon.svg');
      }
    }
  }

  .subsection--tower-of-london {
    .subsection_icon {
      background-image: url('/images/tower-of-london-icon.svg');
    }

    &.is-completed {
      .subsection_icon {
        background-image: url('/images/tower-of-london-completed-icon.svg');
      }
    }
  }

  .subsection_content {
    margin: 12px 0 0;
    text-align: center;

    h2, p {
      text-align: center;
    }

    @include breakpoint(medium) {
      margin: 0 0 0 124px;
      text-align: left;

      h2, p {
        text-align: left;
      }
    }
  }
}


