@mixin position-button-arrow( $direction: 'right' ) {
  position: relative;
  display: inline-block;
  font-size: 48px;
  font-weight: 100;
  line-height: 0;
  top: 6px;

  @if ( $direction == 'right' ) {
    content: '\00a0\203a';
  }
  @else {
    content: '\2039\00a0';
  }
}
