@mixin position-button-arrow( $direction: 'right' ) {
  position: absolute;
  display: inline-block;
  font-size: 48px;
  font-weight: 100;
  line-height: 0;
  top: 18px;

  @if ( $direction == 'right' ) {
    content: '\203a';
    right: 16px;
  }
  @else {
    content: '\2039';
    left: 16px;
  }
}
