@mixin position-button-arrow( $direction: 'right' ) {
  position: absolute;
  display: inline-block;
  font-size: 48px;
  font-weight: 100;
  top: 8px;

  @if ( $direction == 'right' ) {
    content: '\203a';
    right: 12px;
  }
  @else {
    content: '\2039';
    left: 12px;
  }
}
