{% extends 'layouts/layout.njk' %}

{% block content %}
  <section class="hero-section">
    <div class="hero-image"></div>
  </section>

  <section class="content-section">
    <div class="wrapper">
      <article>
        <h1 class="centred">PROTECT in Hong Kong</h1>
        <p class="centred highlighted">The PROTECT Study is an exciting opportunity to take part in a major worldwide research project that aims to understand how healthy brains age and why people develop dementia.</p>
        <p class="centred">If you sign up, you will contribute to a medical study aiming to discover ways to prevent dementia and have access to scientifically tested brain training games.</p>
        <p class="centred">PROTECT is run by the University of Exeter, UK in partnership with the Chinese University of Hong Kong.</p>
      </article>
    </div>
  </section>

  <section class="content-section content-section--grey">
    <div class="wrapper">
      <article>
        <p class="centred highlighted">&ldquo;Understanding how the brain ages is a critical step towards preventing dementia in the future. PROTECT offers a unique and exciting way for thousands of adults to support this innovative research.&rdquo;</p>
        <p class="centred">Professor Clive Ballard, Dean of the<br>
        University of Exeter Medical School.</p>
        <p class="centred"><a href="#" class="button">Sign up</a></p>
      </article>
    </div>
  </section>

  <section class="content-section">
    <div class="wrapper">
      <div class="stats">
        <div class="stat">
          <div class="stat-icon centred"><img src="/images/target-icon.svg" alt="Target icon"></div>
          <h2 class="centred">50,000</h2>
          <p class="centred">Our target for how many people will take part</p>
        </div>
        <div class="stat">
          <div class="stat-icon centred"><img src="/images/time-icon.svg" alt="Time icon"></div>
          <h2 class="centred">1 week/year</h2>
          <p class="centred">The time it takes to contribute to dementia research with PROTECT</p>
        </div>
        <div class="stat">
          <div class="stat-icon centred"><img src="/images/age-icon.svg" alt="Age icon"></div>
          <h2 class="centred">50+</h2>
          <p class="centred">How old you must be to participate in the study</p>
        </div>
      </div>
    </div>
  </section>

  <section class="content-section content-section--blue">
    <div class="wrapper">
      <article>
        <h1 class="centred">Who can participate?</h1>
        <h2 class="centred">You can join the study if you:</h2>
        <div class="centred">Are aged 50 years or older</div>
        <div class="centred">Reside in Hong Kong</div>
        <div class="centred">Do not have a diagnosis of dementia</div>
      </article>
    </div>
  </section>

  <section class="content-section">
    <div class="wrapper">
      <article>
        <h1>What is involved</h1>
        <p class="highlighted">Once a year, you fill in a set of questionaires about yourself, your lifestyle and your mental health. These take an hour or less for each set of questions. You will also be asked to take a series of online tests, to measure changes in brain function, tracking your memory and reasoning abilities.</p>
        <p class="highlighted">Example Questionnaires:</p>
        <div class="accordions">
          <div class="accordion">
            <div class="accordion_body">
              <h2 class="accordion_header">Cognitive function</h2>
              <div class="accordion_content">
                <p>Please rate yourself on how well you remember things about family and friends, e.g. occupations, birthdays, addresses.</p>
              </div>
            </div>
            <div class="accordion_button"><button>+</button></div>
          </div>
          <div class="accordion">
            <div class="accordion_body">
              <h2 class="accordion_header">Everyday activities</h2>
              <div class="accordion_content">Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam.</div>
            </div>
            <div class="accordion_button"><button>+</button></div>
          </div>
          <div class="accordion">
            <div class="accordion_body">
              <h2 class="accordion_header">Demographics</h2>
              <div class="accordion_content">Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam.</div>
            </div>
            <div class="accordion_button"><button>+</button></div>
          </div>
          <div class="accordion">
            <div class="accordion_body">
              <h2 class="accordion_header">Lifestyle</h2>
              <div class="accordion_content">Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam.</div>
            </div>
            <div class="accordion_button"><button>+</button></div>
          </div>
          <div class="accordion">
            <div class="accordion_body">
              <h2 class="accordion_header">Everyday emotions</h2>
              <div class="accordion_content">Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam.</div>
            </div>
            <div class="accordion_button"><button>+</button></div>
          </div>
          <div class="accordion">
            <div class="accordion_body">
              <h2 class="accordion_header">Medical History</h2>
              <div class="accordion_content">Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam.</div>
            </div>
            <div class="accordion_button"><button>+</button></div>
          </div>
          <div class="accordion">
            <div class="accordion_body">
              <h2 class="accordion_header">Fertility &amp; Menopause</h2>
              <div class="accordion_content">Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam.</div>
            </div>
            <div class="accordion_button"><button>+</button></div>
          </div>
          <div class="accordion">
            <div class="accordion_body">
              <h2 class="accordion_header">Mental Health</h2>
              <div class="accordion_content">Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam.</div>
            </div>
            <div class="accordion_button"><button>+</button></div>
          </div>
          <div class="accordion">
            <div class="accordion_body">
              <h2 class="accordion_header">Mood</h2>
              <div class="accordion_content">Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam.</div>
            </div>
            <div class="accordion_button"><button>+</button></div>
          </div>
        </ul>
        <div class="memory-game"><img src="/images/game.png" alt="Image of memory game"></div>
      </article>
    </div>
  </section>

  <section class="content-section content-section--blue">
    <div class="wrapper">
      <h1 class="centred">Timeline</h1>
      <div class="timelines">
        <div class="timeline timeline--1">
          <div class="timeline_bar">
            <div class="blue"></div>
            <div class="white"></div>
            <div class="blue"></div>
          </div>
          <div class="timeline_labels">
            <div class="label"><b>Question&shy;naires</b><br>(7 x 1 hour surveys)</div>
            <div class="label"><b>Cog Tests</b><br>(Have to take place over a week)</div>
          </div>
        </div>
        <div class="timeline timeline--2">
          <div class="timeline_bar">
            <div class="blue"></div>
            <div class="white"></div>
            <div class="blue"></div>
          </div>
          <div class="timeline_labels">
            <div class="label"><b>Repeat every year for 10 years</b></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="content-section content-section--grey">
    <div class="wrapper">
      <article>
        <h1 class="centred">Our data promise</h1>

        <h2 class="centred">Your data will be anonymous</h2>
        <p class="centred">All personal data will be physically separate from other data collection. We will not collect your address</p>
        <hr>
        <h2 class="centred">Your data will be securely encrypted</h2>
        <p class="centred">Only a very small number of individuals will have access to the decryption software</p>
        <hr>
        <h2 class="centred">Nonsed magnihil ipis mollorp</h2>
        <p class="centred">Any information held in hard copy will be locked in a cabinet in a locked room, in a secure building with restricted access</p>
        <hr>
        <h2 class="centred">Nonsed magnihil ipis mollorp</h2>
        <p class="centred">Your data will only be used for the purposes of the PROTECT study. See our <a href="#">privacy policy for further information</a></p>
      </article>
    </div>
  </section>

  <section class="content-section">
    <div class="wrapper">
      <article>
        <h1>The people behind the project</h1>
        <div class="person">
          <div class="person_avatar"><img src="/images/avatar-icon.png" alt="Avatar"></div>
          <div class="person_info">
            <h2 class="person_name">Professor Clive Ballard</h2>
            <h3 class="person_role">Dean of the University of Exeter Medical School</h3>
            <p>“PROTECT will drive forward research into dementia prevention and healthy ageing in the UK and across the globe.”</p>
          </div>
        </div>
        <div class="person">
          <div class="person_avatar"><img src="/images/avatar-icon.png" alt="Avatar"></div>
          <div class="person_info">
            <h2 class="person_name">Professor Linda Lam</h2>
            <h3 class="person_role">Xerectus aut que dolestecte nest, coriatiae quisim volorro totaqui</h3>
            <p>“PROTECT will drive forward research into dementia prevention and healthy ageing in the UK and across the globe.”</p>
          </div>
        </div>
        <div class="person">
          <div class="person_avatar"><img src="/images/avatar-icon.png" alt="Avatar"></div>
          <div class="person_info">
            <h2 class="person_name">Dr Anne Corbett</h2>
            <h3 class="person_role">Xerectus aut que dolestecte nest, coriatiae quisim volorro totaqui</h3>
            <p>“PROTECT will drive forward research into dementia prevention and healthy ageing in the UK and across the globe.”</p>
          </div>
        </div>
      </article>
    </div>
  </section>

  <section class="content-section content-section--green">
    <div class="wrapper">
      <article>
        <h1 class="centred">Sign up to hear more</h1>
        <p class="centred"><a href="#" class="button button--grey">Sign up</a></p>
      </article>
    </div>
  </section>
{% endblock %}
