{% extends 'layouts/layout.njk' %}

{% block content %}
  <section class="panel panel--dashboard">

    <header>
      <div class="=section-title">
      <div class="wrapper">
        <h1>My progress</h1>
      </div>
      </div>
    </header>

    <article>
      <h1 class="h2">HEADING</h1>
      <p>BODY_TEXT</p>
    </article>
  </section>
{% endblock %}
