{% extends 'layouts/layout.njk' %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = 'Mental Health Questionnaire' | safe,
        subtitle = 'Assessment' | safe,
        info = '<a href="#">Tooltip link</a>' | safe,
        duration = 15,
        step = 1,
        steps = 5
      )
    }}

    <article>
      <h1 class="h2">How many times have you harmed yourself?</h1>
      {% call form.form('mhq-form', 'mhq-05a.html', 'mhq-07.html', 'Go back', 'Continue') %}
        {{ form.checkbox('not-harmed-self', 'not-harmed-self', 'Do not know', 'Do not know') }}
        {{ form.select_slider('harmed-self', '', ['0', '1', '2', '3+'], required=true) }}
        {{ form.skip_page('mhq-07.html', 'Prefer not to say') }}
      {% endcall %}
      <script>
        (function($) {
          $('#not-harmed-self').on('change', function() {
            var $slider = $('.select-slider');

            if ($(this).prop('checked')) {
              $slider.slider('disable');
              $slider.find('select').prop('disabled', true);
            } else {
              $slider.slider('enable');
              $slider.find('select').prop('disabled', false);
            }
          });
        })(jQuery);
      </script>
    </article>

    {{ section.footer( info = '<a id="exit-home-open" class="modal-open" href="#exit-home">Exit assessment and return to home page</a>' | safe ) }}

  </section>
{% endblock %}
