{% extends 'layouts/layout.njk' %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = 'Mental Health Questionnaire' | safe,
        subtitle = 'Assessment' | safe,
        info = '<a href="#">&lt;&nbsp;&nbsp;Back to my assessment</a>' | safe,
        duration = 15,
        step = 1,
        steps = 5
      )
    }}

    <article>
      <h1 class="h2">In yourself or the person you are responding for, have you noticed a loss of interest in friends, family, or home activities?</h1>
      {% call form.form('mhq-form', 'mhq-08.html', 'mhq-10.html', 'Go back', 'Continue') %}
        {{ form.select_slider('loss-of-interest', '', ['No', 'Yes, mild', 'Yes, moderate', 'Yes, severe'], required=true) }}
        {{ form.skip_page('mhq-10.html', 'Prefer not to say') }}
      {% endcall %}
    </article>

    {{ section.footer( info = '<a id="exit-home-open" class="modal-open" href="#exit-home">Exit assessment and return to home page</a>' | safe ) }}

  </section>
{% endblock %}
