{% extends 'layouts/layout.njk' %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = 'Mental Health Questionnaire' | safe,
        subtitle = 'Assessment' | safe,
        info = '<a href="#">&lt;&nbsp;&nbsp;Back to my assessment</a>' | safe,
        duration = 15,
        step = 1,
        steps = 5
      )
    }}

    <article>
      <h1 class="h2">Thinking of the two-week period in your life when your feelings of depression or loss of interest were worst and thinking about your roles at the time of this episode, including study, employment, childcare and housework and leisure pursuits.</h1>
      <p class="h2">How much did these problems interfere with your life or activities?</p>
      {% call form.form('mhq-form', 'mhq-04.html', 'mhq-05.html', 'Go back', 'Continue') %}
        {{ form.radios('depression-interfering', '', ['Do not know', 'Not at all', 'A little', 'Some', 'A lot'], required=true) }}
        {{ form.skip_page('mhq-05.html', 'Prefer not to say') }}
      {% endcall %}
    </article>

    {{ section.footer( info = '<a id="exit-home-open" class="modal-open" href="#exit-home">Exit assessment and return to home page</a>' | safe ) }}

  </section>
{% endblock %}
