{% extends 'layouts/layout.njk' %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = 'Mental Health Questionnaire' | safe,
        subtitle = 'Assessment' | safe,
        info = '<a href="#">&lt;&nbsp;&nbsp;Back to my assessment</a>' | safe,
        duration = 15,
        step = 1,
        steps = 5
      )
    }}

    <article>
      <h1 class="h2">Have you or someone else been injured as a result of your drinking?</h1>
      {% call form.form('mhq-form', 'mhq-05.html', 'mhq-06.html', 'Go back', 'Continue') %}
        {{ form.radios('depression-interfering', '', ['No', 'Yes, but not in the last year', 'Yes, during the last year'], required=true) }}
        {{ form.skip_page('mhq-06.html', 'Prefer not to say') }}
      {% endcall %}
      <p class='message message--info'>Questionnaire saved</p>
    </article>

    {{ section.footer( info = '<a id="exit-home-open" class="modal-open" href="#exit-home">Exit assessment and return to home page</a>' | safe ) }}

  </section>
{% endblock %}
