{% extends 'layouts/layout.njk' %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = 'Mental Health Questionnaire' | safe,
        subtitle = 'Assessment' | safe,
        info = '<a href="#">Tooltip link</a>' | safe,
        duration = 15,
        step = 1,
        steps = 5
      )
    }}

    <article>
      <h1 class="h2">Managing household finances (e.g. paying bills, balancing household expenses) – difficulty rating</h1>
      {% call form.form('mhq-form', 'mhq-31.html', 'mhq-33.html', 'Go back', 'Continue') %}
        {{ form.select_slider('household-finacnes', '', ['No difficulty', 'Some difficulty', 'Great difficulty'], required=true) }}
        {{ form.skip_page('mhq-33.html', 'Prefer not to say') }}
      {% endcall %}
    </article>

    {{ section.footer( info = '<a id="exit-home-open" class="modal-open" href="#exit-home">Exit assessment and return to home page</a>' | safe ) }}

  </section>
{% endblock %}
