{% extends 'layouts/layout.njk' %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = 'Mental Health Questionnaire' | safe,
        subtitle = 'Assessment' | safe,
        info = '<a href="#">Tooltip link</a>' | safe,
        duration = 15,
        step = 1,
        steps = 5
      )
    }}

    <article>
      <h1 class="h2">How many cigarettes do you smoke per day on average?</h1>
      {% call form.form('mhq-form', 'mhq-10.html', 'mhq-12.html', 'Go back', 'Continue') %}
        {{ form.select_slider('cigarettes-per-day', '', ['0', '1-5', '6-10', '11-20', '20+'], required=true) }}
        {{ form.skip_page('mhq-12.html', 'Prefer not to say') }}
      {% endcall %}
    </article>

    {{ section.footer( info = '<a id="exit-home-open" class="modal-open" href="#exit-home">Exit assessment and return to home page</a>' | safe ) }}

  </section>
{% endblock %}
