{% extends 'layouts/layout.njk' %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = 'Mental Health Questionnaire' | safe,
        subtitle = 'Assessment' | safe,
        info = '<a href="#">Tooltip link</a>' | safe,
        duration = 15,
        step = 1,
        steps = 5
      )
    }}

    <article>
      <h1 class="h2">When I was growing, I felt loved.</h1>
      {% call form.form('mhq-form', 'mhq-12.html', 'mhq-14.html', 'Go back', 'Continue') %}
        {{ form.radios('felt-loved', '', ['Never true', 'Rarely true', 'Sometimes true', 'Often true', 'Very often true'], required=true) }}
        {{ form.skip_page('mhq-14.html', 'Prefer not to say') }}
      {% endcall %}
      {{ form.skip_section() }}
    </article>

    {{ section.footer( info = '<a id="exit-home-open" class="modal-open" href="#exit-home">Exit assessment and return to home page</a>' | safe ) }}

  </section>
{% endblock %}
