{% extends 'layouts/layout.njk' %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = 'Mental Health Questionnaire' | safe,
        subtitle = 'Assessment' | safe,
        info = '<a href="#">&lt;&nbsp;&nbsp;Back to my assessment</a>' | safe,
        duration = 15,
        step = 1,
        steps = 5
      )
    }}

    <article>
      <h1 class="h2">About how many times in your lifetime did you see things in this manner?</h1>
      {% call form.form('mhq-form', 'mhq-25.html', 'mhq-27.html', 'Go back', 'Continue') %}
        {{ form.checkbox('not-see-things-in-this-manner', 'not-see-things-in-this-manner', 'Do not know', 'Do not know') }}
        {{ form.select_slider('see-things-in-this-manner', '', ['', '1', '2-5', '6-10', '11-20', '20+'], required=true) }}
        {{ form.skip_page('mhq-27.html', 'Prefer not to say') }}
      {% endcall %}
      <script>
        (function($) {
          $('#not-see-things-in-this-manner').on('change', function() {
            var $slider = $('.select-slider');

            if ($(this).prop('checked')) {
              $slider.slider('disable');
              $slider.find('select').prop('disabled', true);
            } else {
              $slider.slider('enable');
              $slider.find('select').prop('disabled', false);
            }
          });
        })(jQuery);
      </script>
    </article>

    {{ section.footer( info = '<a id="exit-home-open" class="modal-open" href="#exit-home">Exit assessment and return to home page</a>' | safe ) }}

  </section>
{% endblock %}
