{% extends 'layouts/layout.njk' %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = 'Mental Health Questionnaire' | safe,
        subtitle = 'Assessment' | safe,
        info = '<a href="#">Tooltip link</a>' | safe,
        duration = 15,
        step = 1,
        steps = 5
      )
    }}

    <article>
      <h1 class="h2">Think about your roles at the time of this episode, including study / employment, childcare and housework, leisure pursuits. How much did these problems interfere with your life or activities?</h1>
      {% call form.form('mhq-form', 'mhq-36.html', 'mhq-38.html', 'Go back', 'Continue') %}
        {{ form.checkbox('not-interfere-with-life', 'not-interfere-with-life', 'Do not know', 'Do not know') }}
        {{ form.select_slider('interfere-with-life', '', ['A lot', 'Some', 'A little', 'Not at all'], required=true) }}
        {{ form.skip_page('mhq-38.html', 'Prefer not to say') }}
      {% endcall %}
      <script>
        (function($) {
          $('#not-interfere-with-life').on('change', function() {
            var $slider = $('.select-slider');

            if ($(this).prop('checked')) {
              $slider.slider('disable');
              $slider.find('select').prop('disabled', true);
            } else {
              $slider.slider('enable');
              $slider.find('select').prop('disabled', false);
            }
          });
        })(jQuery);
      </script>
    </article>

    {{ section.footer( info = '<a id="exit-home-open" class="modal-open" href="#exit-home">Exit assessment and return to home page</a>' | safe ) }}

  </section>
{% endblock %}
