{% extends 'layouts/layout.njk' %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = 'Mental Health Questionnaire' | safe,
        subtitle = 'Assessment' | safe,
        info = '<a href="#">&lt;&nbsp;&nbsp;Back to my assessment</a>' | safe,
        duration = 15,
        step = 1,
        steps = 5
      )
    }}

    <article>
      <h1 class="h2">In the last month, how many times have you done any physical activity lasting at least 20 minutes that has left you out of breath?</h1>
      {% call form.form('mhq-form', 'mhq-11.html', 'mhq-13.html', 'Go back', 'Continue') %}
        {{ form.select_slider('physical-activity', '', ['0', '1-3', '4-10', '11-20', '20+'], required=true) }}
        {{ form.skip_page('mhq-13.html', 'Prefer not to say') }}
      {% endcall %}
    </article>

    {{ section.footer( info = '<a id="exit-home-open" class="modal-open" href="#exit-home">Exit assessment and return to home page</a>' | safe ) }}

  </section>
{% endblock %}
