{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{% import "macros/timer.njk" as timer %}


{% block content %}
<section class="panel panel--progress">
  <article>
    <!-- button id="dupe">Duplicate!</button>
    <button id="dedupe">Deduplicate!</button -->
    <p class="xxx"><a id="dupe" href="#">[ADD CONTENT]</a> <a id="dedupe" href="#">[REMOVE CONTENT]</a></p>
  </article>
  <footer style="position: relative; width: auto; bottom: auto;">
    <div class="footer-info wrapper"><a id="exit-home-open" class="modal-open" href="#exit-home">Exit assessment and return to home page</a></div>
  </footer>
</section>
{% endblock %}
