@charset "UTF-8";

#page-header {
  background-color: $brand-primary;

  .wrapper {
    padding: 0 $base-spacing;

    @include breakpoint(medium) {
      @include flexbox($justify-content: space-between, $align-items: center);
    }
  }

  .site-logo {
    width: 100%;
    max-width: 225px;
    padding: 21px 0 25px;

    img {
      width: auto;
      height: 24px;

      @include breakpoint(medium) {
        height: 32px;
      }
    }
  }
}

#site-menu {
  .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid $white;

    // @include breakpoint(medium) {
    //   font-size: 32px;
    // }

    @include breakpoint(large) {
      display: none;
    }
  }

  .site-security {
    display: none;
    background-color: $brand-primary;
    padding: 0 24px;

    @include breakpoint(large) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }

    .wrapper {
      border-top: 1px solid $white;
      padding: 16px 0;
      text-align: center;

      @include breakpoint(large) {
        border-top: 0;
        text-align: right;
      }
    }

    a.login {
      display: block;
      text-align: center;
      margin: 0 8px 8px;

      @include breakpoint(medium) {
        display: inline-block;
      }

      &:link, &:visited, &:hover, &:focus, &:active {
        color: $white;
      }
    }

    a.sign-up {
      display: block;
      margin: 0 auto;

      @include breakpoint(medium) {
        display: inline-block;
        margin: 0 auto 0 8px;
        width: auto;
      }
    }
  }

  .site-navigation {
    display: none;
    background-color: $dark-green;

    ul {
      margin: 0;
      padding: 0 24px;
      list-style: none;

      li {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid $white;

        &::before { content: none; }
        &::after { content: none; }

        &:last-child {
          border: 0;
        }

        a {
          display: block;
          color: $white;
          font-size: 20px;
          text-decoration: none;
          padding: 12px 0;

          &:hover, &:focus {
            text-decoration: underline;
          }

          @include breakpoint(medium) {
            // font-size: 32px;
          }
        }
      }

      @include breakpoint(large) {
        @include flexbox($justify-content: stretch, $align-items: center);
        display: block;
        padding: 8px 0;
        margin: 0;

        li {
          padding: 0;
          width: 25%;
          text-align: center;
          margin: 0;
          border-right: 1px solid $white;
          border-bottom: 0;
        }
      }
    }
  }
}
