@charset "UTF-8";

#page-header {
  // position: relative;
  background-color: $brand-primary;

  .wrapper {
    padding: 0 $base-spacing;

    @include breakpoint(large) {
      @include flexbox($justify-content: space-between, $align-items: center);
    }
  }

  .site-logo {
    width: 100%;
    max-width: 340px;
    padding: 21px 0 25px;

    img {
      width: auto;
      height: 32px
    }
  }
}
