@charset "UTF-8";

#newsletter-signup {
  background-color: $vlight-gray;
  border-top: 1px solid $light-gray;


  form {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    padding: 24px;

    legend.h1 {
      margin: 48px 0 24px;
    }

    input {
      width: 100%;

      @include breakpoint(medium) {
        float: left;
        width: 300px
      }
    }

    button {
      width: 100%;

      @include breakpoint(medium) {
        float: right;
        width: 160px;
        margin-top: 4px;
      }
    }
  }
}

#page-footer {
  @include clearfix;
  bottom: 0;
  width: 100%;
  padding: 0 0 $small-spacing ;
  background-color: $dark-gray;
  color: $white;

  .footer-info {
    @include flexbox($justify-content: space-between);
    padding: 24px;

    .project-logos {
      width: 100%;
      padding-bottom: 24px;
      margin-bottom: $small-spacing;
      border-bottom: 1px solid $white;

      @include breakpoint(large) {
        width: 33%;
        border-bottom: none;
      }
    }

    .contact-address,
    .contact-other {
      width: 100%;

      @include breakpoint(medium) {
        width: 50%;
      }

      @include breakpoint(large) {
        width: 33%;
      }
    }

    .contact-address {
      padding-top: 0;
    }

    .contact-other {
      margin-top: 44px;
    }
  }

  h2, h3, p, a {
    color: $white;
  }

  h2 {
    margin-bottom: 12px;
  }

  h3, p, a {
    font-size: $small-font-size;
    margin: 0;
    line-height: 1.5;
  }

  .utility-nav {
    font-size: $small-font-size;
    line-height: $small-line-height;
    border-top: 1px solid $white;
    margin: 0 $base-spacing;
    padding: $small-spacing 0 $base-spacing;

    ol {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        counter: none;
        font-size: $small-font-size;
        padding: 0;
        margin: 0;
        line-height: 1;

        @include breakpoint(medium) {
          display: inline-block;
          padding: 0 4px 0 2px;
          margin: 0;
          border-right: 1px solid $white;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            border-right: none;
            padding-right: 0;
          }
        }

        &::before,
        &::after {
          display: none;
        }

        a {
          text-decoration: none;

          &:hover, &:focus {
            text-decoration: underline;
          }
        }
      }
    }

  }
}
