@charset "UTF-8";

#page-header {
  // position: relative;
  background-color: $brand-primary;

  .wrapper {
    padding: 0 $base-spacing;

    @include breakpoint(medium) {
      @include flexbox($justify-content: space-between, $align-items: center);
    }
  }

  .site-logo {
    width: 100%;
    max-width: 225px;
    padding: 21px 0 25px;

    img {
      width: auto;
      height: 32px
    }
  }

  .site-sign-up {
    width: 100%;
    max-width: 225px;
    padding: 0 0 16px;
    text-align: left;

    @include breakpoint(medium) {
      text-align: right;
      padding: 0;
    }

    .button {
      margin: 0;
    }
  }
}
