{#
========================================
Form: Basic skeleton for T4TB form with
      markup for form action buttons
      and div to flag form errors
========================================
#}
{% import "macros/timer.njk" as timer %}

{% macro form(
    id = "protect-form",
    previous = "#",
    next = "#",
    previous_label = "Go back",
    next_label = "Continue"
  )
%}
<form id="{{ id }}" method="get" action="{{ next }}" novalidate="novalidate">
{#
  <div id="form-errors" class="form-errors hidden">
    <p>There was a problem with your submission.
    <br>The errors have been highlighted below.</p>
  </div>
#}
{{ caller() }}

<div class="form-actions">
  {% if previous %}<a class="button button--back secondary" href="{{ previous }}">{{ previous_label }}</a>{% endif %}
  <button class="button button--next" type="submit">{{ next_label }}</button>
</div>
</form>
{% endmacro %}

{#
========================================
Field: Text input - note if type="date"
       a JQuery UI date widget is used
========================================
#}
{% macro text(
    name  = "FIELD_NAME",
    label = "",
    type  = "text",
    value = "",
    required = "",
    disabled = "",
    validation = "",
    placeholder="",
    changeMonth = false,
    changeYear = false
  )
%}
<div class="form-field-group form-field-group--text">
  <div class="form-field form-field--text">
    <label for="{{ name }}">{{ label }}{# % if required %} <em>(Required)</em>{% endif % #}</label>
    {% if type == "date" %}
    <input id="{{ name }}" name="{{ name }}" type="text" value="{{ value }}" placeholder="dd/mm/yyyy" pattern="\d{2}\/\d{2}\/\d{4}" data-type="date" data-change-month="{{ changeMonth }}" data-change-year="{{ changeYear }}"{% if required %} required{% endif %}{% if validation %} {{ validation }}{% endif %}>
    {% else %}
    <input id="{{ name }}" name="{{ name }}" type="{{ type }}" value="{{ value }}" placeholder="{{ placeholder }}"{% if required %} required{% endif %}{% if validation %} {{ validation }}{% endif %} {{ validation }}>
    {% endif %}
  </div>
</div>
{% endmacro %}

{#
========================================
Field group: Inline text input
========================================
#}
{% macro text2(
    label = "",
    name1 = "FIELD_NAME_1",
    label1 = "_1",
    type1 = "text",
    value1 = "",
    name2 = "FIELD_NAME_2",
    label2 = "_2",
    type2 = "text",
    value2 = "",
    required = "",
    disabled = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--text">
  {% if label %}<label>{{ label }}</label>{% endif %}
  <div class="form-field-inline-group">
    <div class="form-field form-field--text">
      <label for="{{ name1 }}">{{ label1 }}{# % if required %} <em>(Required)</em>{% endif % #}</label>
      <input id="{{ name1 }}" name="{{ name1 }}" type="{{ type1 }}" value="{{ value1 }}"{% if required %} required{% endif %}{% if validation %} {{ validation }}{% endif %}>
    </div>
    <div class="form-field form-field--text">
      <label for="{{ name2 }}">{{ label2 }}{# % if required %} <em>(Required)</em>{% endif % #}</label>
      <input id="{{ name2 }}" name="{{ name2 }}" type="{{ type2 }}" value="{{ value2 }}"{% if required %} required{% endif %}{% if validation %} {{ validation }}{% endif %}>
    </div>
  </div>
</div>
{% endmacro %}
{#
========================================
Field: Text area
========================================
#}

{% macro textarea(
    name = "FIELD_NAME",
    label = "",
    value = "",
    required = "",
    disabled = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--textarea">
  <div class="form-field form-field--textarea">
    <label for="{{ name }}">{{ label }}{# % if required %} <em>(Required)</em>{% endif % #}</label>
    <textarea id="{{ name }}" name="{{ name }}" type="{{ type }}" value="{{ value }}"{% if required %} required{% endif %} {{ validation }}></textarea>
  </div>
</div>
{% endmacro %}

{#
========================================
Field: Checkbox with optional time icon
========================================
#}
{% macro checkbox(
    id = 'FIELD_NAME_1',
    name = "FIELD_NAME",
    label = "",
    value ="",
    duration = 0,
    checked = "",
    required = "",
    disabled = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--checkbox">
  <div class="form-field form-field--checkbox ">
    <input id="{{ id }}" name="{{ name }}" type="checkbox" value="{{ value }}" {{ checked }}{% if required %} required{% endif %}{% if validation %} {{ validation }}{% endif %}>
    <label for="{{ id }}">{{ label }}</label>
    {% if duration %}
      <div class="duration">{{ duration }} mins {{ timer.timer(duration, "#ccc2ba") }}</div>
    {% endif %}
  </div>
</div>
{% endmacro %}

{#
========================================
Field group: Checkboxes with optional
             time icons
========================================
#}
{% macro checkboxes(
    name ="FIELD_NAME",
    label = "",
    values =["OPTION-1"],
    durations = [0],
    inline = false,
    required = "",
    disabled = "",
    validation = ""
  )
%}
<div class="form-field{% if inline %}-inline{% endif %}-group form-field-group--checkbox">
  {% if label %}<label>{{ label }}{# % if required %} <em>(Required)</em>{% endif % #}</label>{% endif %}

  {% for value in values %}
  <div class="form-field form-field--checkbox">
    <input id="{{ name }}-{{ value | lower | replace(" ", "-") | replace(",", "") | replace("'", "") | replace("(", "") | replace(")", "")  }}" name="{{ name }}" type="checkbox" value="{{ value }}"{% if required %} required{% endif %}{% if validation %} {{ validation }}{% endif %}>
    <label for="{{ name }}-{{ value | lower | replace(" ", "-") | replace(",", "") | replace("'", "") | replace("(", "") | replace(")", "")  }}">{{ value }}</label>
    {% if durations[loop.index0] %}
      <div class="duration">{{ durations[loop.index0] }} mins {{ timer.timer(durations[loop.index0], "#ccc2ba") }}</div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endmacro %}

{#
========================================
Field: Radio button with optional time
       icon
========================================
#}
{% macro radio(
    id = 'FIELD_NAME_1',
    name = "FIELD_NAME",
    label = "",
    value ="",
    duration = 0,
    checked = "",
    required = "",
    disabled = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--radio">
  <div class="form-field form-field--radio">
    <input id="{{ id }}" name="{{ name }}" type="radio" value="{{ value }}" {{ checked }}{% if required %} required{% endif %}{% if validation %} {{ validation }}{% endif %}>
    <label for="{{ id }}">{{ label }}</label>
    {% if duration %}
      <div class="duration">{{ duration }} mins {{ timer.timer(duration, "#1aab98") }}</div>
    {% endif %}
  </div>
</div>
{% endmacro %}

{#
========================================
Field group: Radio buttons with optional
             time icons
========================================
#}
{% macro radios(
    name ="FIELD_NAME",
    label = "",
    values =["OPTION-1"],
    durations = [0],
    required = "",
    disabled = "",
    validation = "",
    inline = false
  )
%}
<div class="form-field{% if inline %}-inline{% endif %}-group form-field-group--radio">
  {% if label %}<label>{{ label }}{# % if required %} <em>(Required)</em>{% endif % #}</label>{% endif %}

  {% for value in values %}
  <div class="form-field form-field--radio">
    <input id="{{ name }}-{{ value | lower | replace(" ", "-") | replace(",", "") | replace("'", "") | replace("(", "") | replace(")", "")  }}" name="{{ name }}" type="radio" value="{{ value }}" {% if required %} required{% endif %}{% if validation %} {{ validation }}{% endif %}>
    <label for="{{ name }}-{{ value | lower | replace(" ", "-") | replace(",", "") | replace("'", "") | replace("(", "") | replace(")", "")  }}">{{ value }}</label>
    {% if durations[loop.index0] %}
      <div class="duration">{{ durations[loop.index0] }} mins {{ timer.timer(durations[loop.index0], "#1aab98") }}</div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endmacro %}

{#
========================================
Field group: Select buttons using radio
             buttons
========================================
#}
{% macro select_group(
    name ="FIELD_NAME",
    label = "",
    values =["OPTION-1"],
    required = "",
    disabled = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--select-buttons">
  {% if label %}<label>{{ label }}{# % if required %} <em>(Required)</em>{% endif % #}</label>{% endif %}

  {% set num_fields = (100 / values | length) | round(2, down) %}

  {% for value in values %}
  <div class="form-field form-field--select-button" style="width: {{ num_fields }}%">
    <input id="{{ name }}-{{ value | lower | replace(" ", "-") | replace(",", "") | replace("'", "") | replace("(", "") | replace(")", "")  }}" name="{{ name }}" type="radio" value="{{ value }}" {% if required %} required{% endif %}{% if validation %} {{ validation }}{% endif %}>
    <label for="{{ name }}-{{ value | lower | replace(" ", "-") | replace(",", "") | replace("'", "") | replace("(", "") | replace(")", "")  }}">{{ value }}</label>
  </div>
  {% endfor %}
</div>
{% endmacro %}

{#
========================================
Field: Select field
========================================
#}
{% macro select(
    name = "FIELD_NAME",
    label = "",
    values = ["0", "1", "2", "3", "4", "5" ],
    required = "",
    disabled = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--select">
  <div class="form-field form-field--select">
    <label for="{{ name }}">{{ label }}{# % if required %} <em>(Required)</em>{% endif % #}</label>
    <select id="{{ name }}" name="{{ name }}" data-values="{{ values | join('|') }}"{% if required %} required{% endif %}{% if validation %} {{ validation }}{% endif %}>
      <option disabled selected>Please choose&hellip;</option>
      {% for value in values %}
        <option value="{{ value }}">{{ value }}</option>
      {% endfor %}
    </select>
  </div>
</div>
{% endmacro %}

{#
========================================
Field group: Yes/No radio buttons
========================================
#}
{% macro yesno(
    name = "FIELD_NAME",
    label = "",
    required = "",
    disabled = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--radio">
  {% if label %}<label>{{ label }}{# % if required %} <em>(Required)</em>{% endif % #}</label>{% endif %}
  <div class="form-field form-field--radio">
    <input id="{{ name }}-yes" name="{{ name }}" type="radio" value="yes"{% if required %} required{% endif %}{% if validation %} {{ validation }}{% endif %}>
    <label for="{{ name }}-yes">Yes</label>
  </div>
  <div class="form-field form-field--radio">
    <input id="{{ name }}-no" name="{{ name }}" type="radio" value="no"{% if required %} required{% endif %}{% if validation %} {{ validation }}{% endif %}>
    <label for="{{ name }}-no">No</label>
  </div>
</div>
{% endmacro %}

{#
========================================
Field group: Gender radio buttons
========================================
#}
{% macro gender(
    name = "FIELD_NAME",
    label = "",
    required = "",
    disabled = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--radio">
  {% if label %}<label>{{ label }}{# % if required %} <em>(Required)</em>{% endif % #}</label>{% endif %}
  <div class="form-field form-field--radio">
    <input id="{{ name }}-male" name="{{ name }}" type="radio" value="yes"{% if required %} required{% endif %}{% if validation %} {{ validation }}{% endif %}>
    <label for="{{ name }}-male">Male</label>
  </div>
  <div class="form-field form-field--radio">
    <input id="{{ name }}-female" name="{{ name }}" type="radio" value="no"{% if required %} required{% endif %}{% if validation %} {{ validation }}{% endif %}>
    <label for="{{ name }}-female">Female</label>
  </div>
</div>
{% endmacro %}

{#
========================================
Field: Input field as JQuery UI Slider
       (numeric)
========================================
#}
{% macro number_slider(
    name = "FIELD_NAME",
    label = "",
    min = 0,
    max = 10,
    step = 1,
    label_step = 1,
    floor = "",
    ceiling = "",
    required = "",
    disabled = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--number-slider">
  <div class="form-field form-field--number-slider">
    <label for="{{ name }}">{{ label }}{# % if required %} <em>(Required)</em>{% endif % #}</label>
    <div class="number-slider">
      <div class="number-slider_fill"></div>

      <div class="number-slider_ticks">
        {% for i in range( min, max + 1, step ) -%}
          <div class="tick"></div>
        {%- endfor %}
      </div>

      <div class="number-slider_labels">
        {% for i in range( min, max + 1, label_step ) -%}
          <div class="number-slider_label">{{ i }}</div>
        {%- endfor %}
      </div>
      {% if floor or ceiling %}
      <div class="number-slider-guides">
        <span>{{ floor }}</span>
        <span>{{ ceiling }}</span>
      </div>
      {% endif %}
      <input id="{{ name }}" name="{{ name }}" type="text" data-type="slider" data-min="{{ min }}" data-max="{{ max }}" data-step="{{ step }}" data-label-step="{{ step }}" {% if required %} required{% endif %}{% if validation %} {{ validation }}{% endif %}>
    </div>
  </div>
</div>
{% endmacro %}

{#
========================================
Field: Input field as JQuery UI Slider
       (option list)
========================================
#}
{% macro select_slider(
    name = "FIELD_NAME",
    label = "Choose an option",
    values = ["0", "1", "2", "3", "4", "5" ],
    floor = "",
    ceiling = "",
    required = "",
    disabled = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--select-slider">
  <div class="form-field form-field--select-slider">
    <label for="{{ name }}">{{ label }}{# % if required %} <em>(Required)</em>{% endif % #}</label>
    <div class="select-slider"{% if disabled %} disabled{% endif %}>
      <div class="select-slider_fill"></div>

      <div class="select-slider_ticks">
        {% for value in values -%}
          <div class="tick"></div>
        {%- endfor %}
      </div>

      <div class="select-slider_values">
        {% for value in values -%}
          <div class="select-slider_value">{{ value }}</div>
        {%- endfor %}
      </div>

      {% if floor or span %}
      <div class="select-slider_labels">
        <span>{{ floor }}</span>
        <span>{{ ceiling }}</span>
      </div>
      {% endif %}

      <select id="{{ name }}" name="{{ name }}"  data-type="slider" data-values="{{ values | join('|') }}"{% if required %} required{% endif %}{% if disabled %} disabled{% endif %}{% if validation %} {{ validation }}{% endif %}>
        <option disabled selected>Please choose&hellip;</option>
        {% for value in values %}
          <option value="{{ value }}">{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
{% endmacro %}

{#
========================================
Form skip page: Skip this page
========================================
#}
{% macro skip_page(
    next = "#",
    label = "Skip this step"
  )
%}
<div class="form-skip-page">
  <!-- a class="form-skip-page_link" onclick="form.submit(); return false;" formnovalidate href="{{ next }}">{{ label }}</a -->
  <button class="button--skip" type="submit" formnovalidate>{{ label }}</button>
</div>
{% endmacro %}

{#
========================================
Form skip section: Skip this section
========================================
#}
{% macro skip_section(
    next = "#",
    label = "Skip rest of this section"
  )
%}
<div class="form-skip-section">
  <a class="button button--fast-forward" href="{{ next }}">{{ label }}</a>
</div>
{% endmacro %}

{#
========================================
Form actions: Form submit/back buttons
========================================
#}
{% macro actions(
    previous = "#",
    next = "#",
    previous_label = "Go back",
    next_label = "Continue"
  )
%}
<div class="form-actions">
  <a class="button button--back secondary" href="{{ previous }}">{{ previous_label }}</a>
  <button class="button button--next" type="submit">{{ next_label }}</button>
</div>
{% endmacro %}
