<nav class="dev-menu" style="margin: 50px;"><ul>
<li><a href="TEMPLATE.html" target="_blank">TEMPLATE.html</a></li>
<li><a href="index.html" target="_blank">index.html</a></li>
<li><a href="mhq-1.html" target="_blank">mhq-1.html</a></li>
<li><a href="mhq-2.html" target="_blank">mhq-2.html</a></li>
<li><a href="mhq-3.html" target="_blank">mhq-3.html</a></li>
<li><a href="mhq-4.html" target="_blank">mhq-4.html</a></li>
<li><a href="mhq-4a.html" target="_blank">mhq-4a.html</a></li>
<li><a href="mhq-5.html" target="_blank">mhq-5.html</a></li>
<li><a href="mhq-5a.html" target="_blank">mhq-5a.html</a></li>
<li><a href="mhq-6.html" target="_blank">mhq-6.html</a></li>
<li><a href="mhq-7.html" target="_blank">mhq-7.html</a></li>
<li><a href="test.html" target="_blank">test.html</a></li>
</ul></nav>
