<header id="page-header" role="banner">
  <div class="wrapper">
    <div class="site-logo"><img src="/images/protect-logo.svg" alt="TRAIN FOR THE BRAIN"></div>
    <div class="site-security"><a class="login" href="#">Login</a> <a href="#" class="sign-up button button--grey">Sign up</a></div>
  </div>
</header>

<nav id="site-navigation">
  <div class="wrapper">
    <ul>
      <li><a href="#">Who can sign up</a>
      <li><a href="#">Our Data Promise</a>
      <li><a href="#">The PROTECT Team</a>
      <li><a href="#">Contact us</a>
    </ul>
  </div>
</nav>
