<section id="newsletter-signup">
  <div class="wrapper">
    <form id="newsletter-signup_form" method="post" action="#">
      <fieldset>
        <legend class="h1 centred">Sign up to our newsletter</legend>
        <input id="email-address" name="email-address" type="email" placeholder="Email" required>
        <button type="submit">Subscribe</button>
      </fieldset>
    </form>

  </div>
</section>

<footer id="page-footer" role="contentinfo">
  <div class="wrapper">
    <div class="footer-info">
      <div class="project-logos">
        <img src="/images/project-logos.png" alt="Exeter University and ????" width="200">
      </div>
      <div class="contact-address">
        <h2>Contact</h2>
        <h3>Address</h3>
        <p>PROTECT Study<br>
          Address  line 1, Address line 2<br>
          Address line 3, City, ZZ1 23Z</p>
      </div>
      <div class="contact-other">
        <h3>Email</h3>
        <p><a href="#">admin@protectstudy.org.uk</a></p>
        <h3>Phone</h3>
        <p><a href="#">01234 567890</a></p>
      </div>
    </div>
    <nav class="utility-nav">
      <ol>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Our data policy</a></li>
        <li><a href="#">Terms &amp; Conditions</a></li>
      </ol>
    </nav>
  </div>
</footer>
