<header id="page-header" role="banner">
  <div class="wrapper">
    <div class="site-logo"><img src="/images/protect-logo.svg" alt="TRAIN FOR THE BRAIN"></div>
    <div class="site-sign-up"><a href="#" class="button button--grey">Sign up</a></div>
  </div>
</header>
